.searchresultframe-container {
  min-height: 100vh;
}
.searchresultframe-searchresultframe {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: left;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.searchresultframe-user-profile {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.searchresultframe-user-profile-header {
  width: 100%;
  height: 140px;
  display: flex;
  padding: 21px 0px;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(189, 80, 80, 1);
}
.searchresultframe-groupheader {
  width: 1500px;
  height: 95px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-logo {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-ellipse1 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.searchresultframe-logo1 {
  top: 14.338982582092285px;
  left: 12.148760795593262px;
  width: 74px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.searchresultframe-input-search {
  top: 8px;
  left: 350px;
  width: 731px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.searchresultframe-text {
  top: 12px;
  left: 81px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.searchresultframe-radixiconsmagnifyingglass {
  top: 14px;
  left: 25px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.searchresultframe-home-btn {
  top: 12px;
  left: 128px;
  width: 173px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.searchresultframe-text02 {
  top: 13px;
  left: 31px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.searchresultframe-mdiusercircleoutlineheader {
  top: 1px;
  left: 1130px;
  width: 98px;
  height: 94px;
  position: absolute;
}
.searchresultframe-search-result-frame1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(189, 80, 80, 1);
}
.searchresultframe-group9 {
  width: 1302px;
  height: 867px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-user-profile-frame2 {
  top: 99px;
  left: 0px;
  width: 1600px;
  display: flex;
  padding: 20px 82px 39px 82px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 246, 246, 1);
}
.searchresultframe-main-search-frame {
  width: 1142px;
  height: 736px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.searchresultframe-searchresultframe2 {
  top: 13px;
  left: 250px;
  width: 641px;
  height: 623.5752563476562px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.searchresultframe-searchresultgroup {
  top: 0px;
  left: 0px;
  width: 641px;
  height: 679px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-framefaultinoutstars {
  top: 0px;
  left: 0px;
  width: 641px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.searchresultframe-groupfaultinourstars {
  top: 25px;
  left: 67px;
  width: 496px;
  height: 153.59115600585938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-image-faultinour-stars {
  top: 0px;
  left: 0px;
  width: 95px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}
.searchresultframe-text04 {
  top: 52px;
  left: 205px;
  color: rgba(0, 0, 0, 1);
  width: 291px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.searchresultframe-text05 {
  color: rgba(0, 0, 0, 1);
}
.searchresultframe-frame-lookingfor-alaska {
  top: 216px;
  left: 0px;
  width: 641px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.searchresultframe-grouplookingforalaska {
  top: 30px;
  left: 63px;
  width: 497px;
  height: 155.0575408935547px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-text07 {
  top: 52px;
  left: 209px;
  color: rgba(0, 0, 0, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.searchresultframe-text08 {
  color: rgba(0, 0, 0, 1);
}
.searchresultframe-image-lookingfor-alaska {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 155px;
  position: absolute;
  border-color: transparent;
}
.searchresultframe-let-it-snow-frame {
  top: 432px;
  left: 20px;
  width: 609px;
  height: 247px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.searchresultframe-group-letitsnow {
  top: 42px;
  left: 49px;
  width: 417px;
  height: 149.5752410888672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-text13 {
  top: 50px;
  left: 280px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.searchresultframe-text14 {
  color: rgba(0, 0, 0, 1);
}
.searchresultframe-image-let-it-snow {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.searchresultframe-button-filter {
  top: 0px;
  left: 493px;
  display: flex;
  padding: 8px 28px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.searchresultframe-btnfiltergroup {
  width: 186px;
  height: 50px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.searchresultframe-text19 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.searchresultframe-materialsymbolskeyboardarrowdown {
  top: 0px;
  left: 136px;
  width: 50px;
  height: 50px;
  position: absolute;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 9999;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 60px;
  left: 550px;
}

/* Style the links inside the dropdown */
.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
