.book-page-container {
  min-height: 100vh;
}
.book-page-book-page {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-user-profile-header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height:7rem;
  display: flex;
  padding: 23px 25px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(189, 80, 80, 1);
  justify-content: center;
}
.book-page-frame-header {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.book-page-logo {
  width: 98px;
  left: 25px;
  height: 94px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 53px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.book-page-logo1 {
  top: 14.338982582092285px;
  left: 12.148760795593262px;
  width: 74px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.book-page-home-btn {
  width: 173px;
  height: 71px;
  left: 120px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-text {
  top: 13px;
  left: 31px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-search-frame {
  width: 731px;
  height: 71px;
  left: 250px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-text02 {
  top: 12px;
  left: 81px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-radixiconsmagnifyingglass {
  top: 14px;
  left: 25px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.book-page-singer1 {
  width: 97px;
  height: 94px;
  left: 400px;
  position: relative;
  border-color: transparent;
  margin-right: 53px;
}
.book-page-vector {
  width: 49px;
  height: 32px;
  left: 450px;
  position: relative;
}
.book-page-book-page-frame {
  top: 112px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(189, 80, 80, 1);
}
.book-page-user-profile-frame2 {
  top: 30px;
  left: 84px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 200px;
  overflow: hidden;
  position: absolute;
  align-items: left;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: top;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-frame5 {
  height: 758px;
  display: flex;
  padding: 24px 14px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
  flex-direction: column;
}
.book-page-image3 {
  width: 167px;
  height: 256px;
  position: relative;
  border-color: transparent;
  margin-bottom: 40px;
}
.book-page-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.book-page-text05 {
  color: rgba(0, 0, 0, 1);
}
.book-page-star-frame {
  width: 120px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  margin-bottom: 40px;
}
.book-page-group7 {
  top: 8.042552947998047px;
  left: 28px;
  width: 66.22222137451172px;
  height: 26.957447052001953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-vector1 {
  top: 0px;
  left: 39.55555725097656px;
  width: 27px;
  height: 25px;
  position: absolute;
}
.book-page-text10 {
  top: 3.957446813583374px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-page-ganres {
  width: 172px;
  height: 167px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-ganre-frame3 {
  top: 132px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text12 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame2 {
  top: 66px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text14 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame1 {
  top: 0px;
  left: 26px;
  width: 120px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text16 {
  top: 5px;
  left: -17px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-want-to-read {
 
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text18 {
  color: rgb(0, 0, 0);
  width: 225px;
  height: 58px;
  display: flex;
  align-items: flex-start;
  position: relative;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-frame6 {
  width: 550px;
  height: 758px;
  display: flex;
  padding: 23px 33px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
  flex-direction: column;
}
.book-page-bio-frame {
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 42px 7px 42px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  margin-bottom: 95px;
}
.book-page-text20 {
  top: 30px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-text22 {
  top: 109px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 438px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-group8 {
  width: 418px;
  height: 69px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 95px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-star1 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star2 {
  top: 0px;
  left: 349px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star3 {
  top: 0px;
  left: 88px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star4 {
  top: 0px;
  left: 176px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star5 {
  top: 0px;
  left: 261px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-button-rate--book {
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text43 {
  top: 14px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-frame7 {
  height: 769px;
  display: flex;
  padding: 26px 14px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.book-page-books-frame {
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 29px 383px 29px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  margin-bottom: 44px;
  justify-content: center;
}
.book-page-text45 {
  top: 29px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame {
  top: 104px;
  left: 75px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text47 {
  top: 21px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame1 {
  top: 255px;
  left: 84px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text58 {
  top: 21px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame2 {
  width: 469px;
  height: 168px;
  padding: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  margin-bottom: 44px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text69 {
  top: 21px;
  left: 158px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-make-review {
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text70 {
  top: 11px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
