.book-page-container {
  min-height: 100vh;
}
.book-page-book-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-user-profile-header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height:7rem;
  display: flex;
  padding: 23px 25px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(189, 80, 80, 1);
  align-items: center;
  justify-content: center;
}
.book-page-frame-header {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.book-page-logo {
  width: 98px;
  height: 94px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 53px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.book-page-logo1 {
  top: 14.338982582092285px;
  left: 12.148760795593262px;
  width: 74px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.book-page-home-btn {
  width: 173px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-text {
  top: 13px;
  left: 31px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-search-frame {
  width: 731px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-text002 {
  top: 12px;
  left: 81px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-radixiconsmagnifyingglass {
  top: 14px;
  left: 25px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.book-page-singer1 {
  width: 97px;
  height: 94px;
  position: relative;
  border-color: transparent;
  margin-right: 53px;
}
.book-page-vector {
  width: 49px;
  height: 32px;
  position: relative;
}
.book-page-user-profile-frame1 {
  top: 112px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(189, 80, 80, 1);
}
.book-page-user-profile-frame2 {
  top: 70px;
  left: 84px;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-group8 {
  top: 564px;
  left: 500px;
  width: 418px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-star1 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star2 {
  top: 0px;
  left: 349px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star3 {
  top: 0px;
  left: 88px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star4 {
  top: 0px;
  left: 176px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star5 {
  top: 0px;
  left: 261px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-ictwotonestaroutline {
  top: 582px;
  left: 748px;
  width: 68px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.book-page-image3 {
  top: 42px;
  left: 69px;
  width: 167px;
  height: 256px;
  position: absolute;
  border-color: transparent;
}
.book-page-frame4 {
  top: 358px;
  left: 9px;
  width: 263px;
  height: 85px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.book-page-text004 {
  top: 312px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-text005 {
  color: rgba(0, 0, 0, 1);
}
.book-page-ganres {
  top: 477px;
  left: 66px;
  width: 172px;
  height: 167px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-ganre-frame3 {
  top: 132px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text010 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame2 {
  top: 66px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text012 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame1 {
  top: 0px;
  left: 26px;
  width: 120px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text014 {
  top: 5px;
  left: -17px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-star-frame {
  top: 358px;
  left: 88px;
  width: 120px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.book-page-group7 {
  top: 8.042552947998047px;
  left: 28px;
  width: 66.22222137451172px;
  height: 26.957447052001953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-vector1 {
  top: 0px;
  left: 39.55555725097656px;
  width: 27px;
  height: 25px;
  position: absolute;
}
.book-page-text016 {
  top: 3.957446813583374px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-page-button-want-to-read {
  top: 718px;
  left: 40px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text018 {
  top: 11px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-rate--book {
  top: 718px;
  left: 462px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text020 {
  top: 14px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-make-review {
  top: 718px;
  left: 994px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text022 {
  top: 11px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-bio-frame {
  top: 42px;
  left: 347px;
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 42px 7px 42px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}
.book-page-text024 {
  top: 30px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-text026 {
  top: 109px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 438px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-books-frame {
  top: 42px;
  left: 872px;
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 29px 383px 29px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
}
.book-page-text047 {
  top: 29px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame {
  top: 104px;
  left: 75px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text049 {
  top: 21px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame1 {
  top: 255px;
  left: 84px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text060 {
  top: 21px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame2 {
  top: 515px;
  left: 872px;
  width: 469px;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text071 {
  top: 21px;
  left: 158px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-user-profile-frame21 {
  top: 69px;
  left: 66px;
  width: 1374px;
  height: 824px;
  display: flex;
  padding: 42px 48px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 246, 246, 1);
}
.book-page-group81 {
  top: 564px;
  left: 372px;
  width: 418px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-star11 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star21 {
  top: 0px;
  left: 349px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star31 {
  top: 0px;
  left: 88px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star41 {
  top: 0px;
  left: 176px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-star51 {
  top: 0px;
  left: 261px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.book-page-ictwotonestaroutline1 {
  top: 582px;
  left: 748px;
  width: 68px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.book-page-image31 {
  top: 42px;
  left: 69px;
  width: 167px;
  height: 256px;
  position: absolute;
  border-color: transparent;
}
.book-page-frame41 {
  top: 358px;
  left: 9px;
  width: 263px;
  height: 85px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.book-page-text072 {
  top: 312px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-text073 {
  color: rgba(0, 0, 0, 1);
}
.book-page-ganres1 {
  top: 477px;
  left: 66px;
  width: 172px;
  height: 167px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-ganre-frame31 {
  top: 132px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text078 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame21 {
  top: 66px;
  left: 0px;
  width: 172px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text080 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-ganre-frame11 {
  top: 0px;
  left: 26px;
  width: 120px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.book-page-text082 {
  top: 5px;
  left: -17px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-star-frame1 {
  top: 358px;
  left: 88px;
  width: 120px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.book-page-group71 {
  top: 8.042552947998047px;
  left: 28px;
  width: 66.22222137451172px;
  height: 26.957447052001953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.book-page-vector2 {
  top: 0px;
  left: 39.55555725097656px;
  width: 27px;
  height: 25px;
  position: absolute;
}
.book-page-text084 {
  top: 3.957446813583374px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-page-button-want-to-read1 {
  top: 718px;
  left: 40px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text086 {
  top: 11px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-rate--book1 {
  top: 718px;
  left: 462px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text088 {
  top: 14px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-button-make-review1 {
  top: 718px;
  left: 994px;
  width: 225px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.book-page-text090 {
  top: 11px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-bio-frame1 {
  top: 42px;
  left: 347px;
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 42px 7px 42px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}
.book-page-text092 {
  top: 30px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-text094 {
  top: 109px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 438px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-books-frame1 {
  top: 42px;
  left: 872px;
  width: 469px;
  height: 420px;
  display: flex;
  padding: 30px 29px 383px 29px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
}
.book-page-text115 {
  top: 29px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame3 {
  top: 104px;
  left: 75px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text117 {
  top: 21px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame4 {
  top: 255px;
  left: 84px;
  width: 319px;
  height: 133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text128 {
  top: 21px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.book-page-review-frame5 {
  top: 515px;
  left: 872px;
  width: 469px;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.book-page-text139 {
  top: 21px;
  left: 158px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
