.user-edit-container {
  min-height: 100vh;
}
.user-edit-frame1 {
   width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.user-edit-user-profile {
  width: 100vw;
  height: 1023px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.user-edit-user-profile-frame1 {
  top: 112px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(189, 80, 80, 1);
}
.user-edit-user-profile-frame2 {
  top: 30px;
  left: 84px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 32px 236px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 246, 246, 1);
}
.user-edit-mdiusercircleoutline {
  width: 169px;
  height: 169px;
  position: relative;
  margin-bottom: 77px;
}
.user-edit-frame8 {
  width: 743px;
  display: flex;
  padding: 6px 0 7px 59px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 77px;
}
.user-edit-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 190px;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-user-frame {
  width: 374px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.user-edit-text02 {
  top: -2px;
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-button-upgrade-request {
  display: flex;
  padding: 12px 47px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  margin-bottom: 77px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.user-edit-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-button-make-adjustments {
  display: flex;
  padding: 10px 73px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  margin-bottom: 77px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.user-edit-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-user-profile-header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height:7rem;
  display: flex;
  padding: 23px 25px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(189, 80, 80, 1);
  justify-content: center;
}
.user-edit-frame-header {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.user-edit-logo {
  width: 98px;
  height: 94px;
  left: 25px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 53px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.user-edit-ellipse1 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.user-edit-logo1 {
  top: 14.338982582092285px;
  left: 12.148760795593262px;
  width: 74px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.user-edit-home-btn {
  width: 173px;
  height: 71px;
  left: 120px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.user-edit-text08 {
  top: 13px;
  left: 31px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-search-frame {
  width: 731px;
  height: 71px;
  left: 250px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.user-edit-text10 {
  top: 12px;
  left: 81px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-edit-radixiconsmagnifyingglass {
  top: 14px;
  left: 25px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.user-edit-singer1 {
  width: 97px;
  left: 400px;
  height: 94px;
  position: relative;
  border-color: transparent;
  margin-right: 53px;
}
.user-edit-vector {
  width: 49px;
  left: 450px;
  height: 32px;
  position: relative;
}
