.desktop2-container {
  min-height: 100vh;
}
.desktop2-desktop2 {
  width: 100vw;
  height: 2500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-user-profile-header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 7rem;
  display: flex;
  padding: 23px 25px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(189, 80, 80, 1);
  align-items: center;
  justify-content: center;
}
.desktop2-logo {
  top: 13px;
  left: 25px;
  width: 98px;
  height: 94px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-ellipse1 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.desktop2-logo1 {
  top: 14.338982582092285px;
  left: 12.148760795593262px;
  width: 74px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.desktop2-search-frame {
  top: 24.5px;
  left: 400px;
  width: 731px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.desktop2-text {
  top: 12px;
  left: 81px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-radixiconsmagnifyingglass {
  top: 14px;
  left: 25px;
  width: 44px;
  height: 42px;
  position: absolute;
}
.desktop2-home-btn {
  top: 24.5px;
  left: 170px;
  width: 173px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 246, 246, 1);
}
.desktop2-text02 {
  top: 13px;
  left: 31px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-selector {
  top: 18px;
  left: 1350px;
  width: 187px;
  height: 216px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop2-materialsymbolskeyboardarrowdown {
  top: 0px;
  left: 30px;
  width: 98px;
  height: 94px;
  position: absolute;
}
.desktop2-singer1 {
  top: 13px;
  left: 1200px;
  width: 97px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.desktop2-user-profile-frame1 {
  top: 112px;
  left: 0px;
  width: 100vw;
  height: 2500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(189, 80, 80, 1);
}
.desktop2-user-profile-frame2 {
  top: 30px;
  left: 84px;
  width: 100vw;
  height: 2500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 246, 246, 1);
}
.desktop2-singer2 {
  top: 13px;
  left: 602px;
  width: 169px;
  height: 169px;
  position: absolute;
  border-color: transparent;
}
.desktop2-text04 {
  top: 182px;
  left: 594px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-text06 {
  top: 229px;
  left: 645px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-text08 {
  top: 266px;
  left: 115px;
  color: rgba(0, 0, 0, 0.5);
  width: 1145px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-wish-list {
  top: 697px;
  left: 46px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text15 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-wish-list1 {
  top: 1621px;
  left: 46px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text17 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-button-make-adjustments {
  top: 1847px;
  left: 535px;
  width: 305px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
}
.desktop2-text19 {
  top: 11px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-wish-list2 {
  top: 603px;
  left: 112px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text21 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-icroundplus {
  top: 13px;
  left: 1162px;
  width: 65px;
  height: 66px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop2-wish-list3 {
  top: 1531px;
  left: 119px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text23 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-wish-list4 {
  top: 1309px;
  left: 119px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text25 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-wish-list5 {
  top: 1071px;
  left: 119px;
  width: 1282px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text27 {
  top: 18px;
  color: rgba(0, 0, 0, 0.3499999940395355);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: IM FELL French Canon;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
