body {
    background: linear-gradient(315deg, #f9f8f6, hsl(0, 56%, 90%));
  }
  
  .box {
    position: relative;
    width: 14rem;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
    margin-bottom: 2rem;
  }
  
  .box::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
  
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
  }
  
  .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    /* filter: blur(30px); */
  }
  
  .box:hover:before,
  .box:hover:after {
    transform: skewX(0deg) scaleX(1.3);
    /* background-image: url("../images/tfis.jpg"); */
  }
  
  .box:before,
  .box:after {
    background: linear-gradient(315deg, #7b735a, hsl(0, 59%, 56%));
  }
  
  .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  /* .box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  
  .box span::before {
    top: -40px;
    left: 40px;
    width: 50px;
    height: 50px;
    opacity: 1;
  } */
  
  .box span::after {
    content: "1.4\2B50";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
  }
  
  .box span:after {
    bottom: 5px;
    right: 5rem;
    width: 48px;
    height: 25px;
    opacity: 1;
  }
  
  .box .content {
    position: relative;
    width: 10rem;
    height: 15rem;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/theFault.jpg");
    background-size: contain;
  }
  
  .box .content h2 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  label {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0.6rem 0.8rem 0.6rem 1.7rem;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
    margin-bottom: 1rem;
  }
  
  input {
    display: none;
  }
  
  input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
  }
  
  input#read:checked + label svg {
    fill: hsl(0, 3%, 6%);
    stroke: hsl(0, 0%, 2%);
    animation: heartButton 1s;
  }
  
  input#recommend:checked + label svg {
    fill: hsl(60, 60%, 27%);
    stroke: hsl(47, 91%, 36%);
    animation: heartButton 1s;
  }
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  input + label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  
  input + label .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  
  input:checked + label .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
  }
  
  input + label .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
  }
  
  input:checked + label .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }